{% extends 'base.html' %}

{% block content%}
<div class="jumbotron">
    <h1>Info About Rishi Kumar</h1>
    <p>This website is developed by S.Rishi Kumar Studying B.Tech 4th Year in SRM Institutes of science and technology
        Ramapuram, Pursuing Career in Computer Science and having skills on Python, Data Science DBMS, Flask, css and HTML
        i can develop machine learning models and deploy using Flask and make the python programming in professional level.
    </p>
    <p>
        Contact me at <a href="#">sarakana.rishi@gmail.com</a> for further details
    </p>
</div>
{% endblock %}